body{
  font-family: 'Ropa Sans', sans-serif;
  color: #315E85;
  overflow-x: hidden;
}
a{
  color: #315E85;
  text-decoration: none;
}
section, .left, .right{
  height: 630px;
}
h3{
  color: #83827D;
  text-decoration: underline;
}
.one{
  background: lightblue;
  text-align: center;
  background: url('watch.jpg') no-repeat;
  background-size: cover;
}
.logo{
  border: 1px solid #315E85;
  padding: 15px;
  width: 70px;
  position: relative;
  left: 5%;
  top: 5%;
}
.welcome{
  width: 30%;
  position: relative;
  left: 5%;
  top: 35%;
}
.left, .right{
  width: 50%;
}
.left{
  float: left;
}
.right{
  float: right;
}
.left:after, .right:after {
    content:'';
    display:block;
    clear: both;
}
/*****************************************/
.two{
  background: url('robot.jpg') no-repeat;
  background-size: cover;
}
.block{
  position: relative;
  width: 45%;
  top: 25%;
  left: 10%;
  line-height: 2em;
}
/*****************************************/
.three .right{
  background: url('steps.jpg') no-repeat;
  background-size: cover;
}
.three .left{
  background: #E1E0DB;
}
.three h3, .three p{
 width: 70%;
 position: relative;
 top: 20%;
 line-height: 2em;
 margin: auto;
/*****************************************/
}
.four{
  background: white;
}
.four .left img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 15%;
}
.dots{
  margin-left: 37%;
  margin-top: 5%;
}
.circle{
  width: 15px;
  height: 15px;
  background: #E8E8E8;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
}
.first{
  background: #436996;
}
.circle:hover{
  background: #436996;
}
.four .right{
  position: relative;
  top: 15%;
  text-align: center;
}
.four .right .price{
  color: #436996;
}
.four .right h2, .price span{
  font-size: 55px;
}
.price{
  font-size: 25px;
}
.hrblock{
  padding: 5% 0;
}
.four .right .button{
  background: #436996;
  color: white;
  border: 1px solid #436996;
  width: 60%;
  height: 70px;
}
.four .right .button:hover{
   background: #38577A;
 }
/*****************************************/
.five, .text{
  background: #DEDEDE;
  line-height: 2em;
}
.five .answers{
  margin: 0;
  font-size: 25px;
  position: relative;
  top: 5%;
  left: 10%;
}
.five .answers, .text p{
  color: #83827D;
}
.text{
  height: 310px;
}
.text h2, .text p, .text a{
  display: block;
  position: relative;
  top: 30%;
  left: 15%;
  width: 75%;
}
/*****************************************/
footer{
  padding: 4%;
  background: #737C80;
  color: white;
}
footer a{
  color: white;
}
.copyright{
  float: left;
}
.links{
  float: right;
}
.links a{
  margin-left: 15px;
}